BASE_PROTOCOL=http
BASE_HOST=localhost
BASE_PORT=3006

NEXT_PUBLIC_BASE_URL=${BASE_PROTOCOL}://${BASE_HOST}:${BASE_PORT}
NEXT_PUBLIC_CORE_URL=${BASE_PROTOCOL}://${BASE_HOST}:3000
NEXT_PUBLIC_API_URL=${BASE_PROTOCOL}://${BASE_HOST}:4000
NEXT_PUBLIC_STORAGE_URL=${BASE_PROTOCOL}://${BASE_HOST}:3999

# Server-side URLs (Docker internal network) -- use service name instead of host
# Set it empty when running locally
INTERNAL_BASE_URL=http://localhost:3000 #use 3000 if docker
SERVER_BASE_URL=http://wtg-py:3000
SERVER_CORE_URL=http://wtg-core:3000
SERVER_API_URL=http://wtg-core-api:4000
SERVER_STORAGE_URL=http://wtg-storage-api:3999

NEXT_PUBLIC_API_PREFIX="py"
NEXT_PUBLIC_X_API_KEY=""
BETTER_AUTH_SECRET=

NEXT_PUBLIC_PAGE_SIZE=10
NEXT_PUBLIC_PAGE_SIZE_MINI=5

NEXT_PUBLIC_IS_LOCALE=false