NEXT_PUBLIC_BASE_URL="http://localhost:3003"
NEXT_PUBLIC_CORE_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://159.65.6.121"
NEXT_PUBLIC_STORAGE_URL="http://localhost:3999"
NEXT_PUBLIC_API_PREFIX="dash"
NEXT_PUBLIC_X_API_KEY=""
NEXT_PUBLIC_INTERNAL_SECRET="dev-secret"
BETTER_AUTH_SECRET=

NEXT_PUBLIC_SKIP_AUTH=true

NEXT_PUBLIC_PAGE_SIZE=10
NEXT_PUBLIC_PAGE_SIZE_MINI=5

NEXT_PUBLIC_IS_LOCALE=false